.App {
    text-align: center;
    margin: 10px auto;
}

.taskDiv {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid salmon;
    max-width: 500px;
    text-align: left;
    position: relative;
}

.btnDelete {
    padding: 0 5px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid #ccc;
    background: darksalmon;
}


.btnAdd {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    background: darksalmon;
}

.btnAdd:hover,
.btnDelete:hover {
    background: lightsalmon;
}

.taskInput {
    padding: 5px 10px;
    border: 1px solid salmon;
    color: dimgray;
}
.checked{
    color: dimgrey;
}